<html>
    <head>
        <script src="static/node_modules/socket.io/client-dist/socket.io.js"></script>
        <script src="static/node_modules/vue/dist/vue.global.js"></script>
        <script src="static/gauge.min.js"></script>
        <link rel="stylesheet" href="static/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link href="static/style.css" type="text/css" rel="stylesheet" />

        <style>
            svg {
                fill:green;
            }
        </style>
    </head>

    <body>
        <div id="logo">
            <img width="250" src="static/images/logo.png" alt="">


        </div>
        <h3 class="center"> LA BICYCLETTE GÉNÉRATRICE D'ÉLECTRICITE </h3>   


        <div class="container">
            <div id="app">
                
               <div id="canvas-container">
                <canvas id="gauge" height="280" width="480"> 
                </canvas>
                    <div id="data">
                        <h4>PRODUCTION <span class="red-generator"> <br> ${powerProductionTotal} </span>  </h4>
                        <h4>CONSOMMATION <span class="red-generator"> <br> TODO  </span> </h4>
                    </div>
                
               </div>
    
            <div class="row">
                <div class="col-sm-1 father">
                    <img src="static/images/velo1.svg" alt="">
                    <span class="label label-custom velo-name">1</span>
                    <div class="label label-power-bike"> ${productionByBike[0]} kW </div>
                </div>

                <div class="col-sm-1 offset-md-9 father">
                    <img src="static/images/velo4.svg" alt="">
                    <span class="label label-custom velo-name">10</span>
                    <div class="label label-power-bike"> ${productionByBike[9]} kW </div>

                </div>




            </div>
            <div style="height: 50px;"></div>

            <div class="row">
                <span class="col-sm-1 father father">
                    <img src="static/images/velo2.svg" alt="">
                    <span class="label label-custom velo-name pull-right">2</span>
                        <div class="label label-power-bike"> ${productionByBike[1]} kW </div>


                </span>
                <span class="col-sm-1 offset-md-9 father">
                    <img src="static/images/velo3.svg" alt="">
                    <span class="label label-custom velo-name pull-right">3</span>
                    <div class="label label-power-bike"> ${productionByBike[2]} kW </div>

                </span>
            </div>
            <div style="height: 50px;"></div>

            <div class="row">
                <span class="offset-md-1 col-sm-1 mr-5 father">
                    <img src="static/images/velo4.svg" alt="">
                    <span class="label label-custom velo-name pull-right">4</span>
                    <div class="label label-power-bike"> ${productionByBike[3]} kW </div>
                </span>

                <span class="col-sm-1 father mr-5">
                    <img src="static/images/velo5.svg" alt="">
                    <span class="label label-custom velo-name pull-right"> 5</span>
                    <div class="label label-power-bike"> ${productionByBike[4]} kW </div>

                </span>

                <span class="col-sm-1 father mr-5">
                    <img src="static/images/velo6.svg" alt="">
                    <span class="label label-custom velo-name pull-right"> 6</span>
                    <div class="label label-power-bike"> ${productionByBike[5]} kW </div>

                </span>

                <span class="col-sm-1 father mr-5">
                    <img src="static/images/velo1.svg" alt="">
                    <span class="label label-custom velo-name pull-right"> 7</span>
                    <div class="label label-power-bike"> ${productionByBike[6]} kW </div>

                </span>

                <span class="col-sm-1 father mr-5">
                    <img src="static/images/velo2.svg" alt="">
                    <span class="label label-custom velo-name pull-right"> 8</span>
                    <div class="label label-power-bike"> ${productionByBike[7]} kW </div>

                </span>

                <span class="col-sm-1 father">
                    <img src="static/images/velo3.svg" alt="">
                    <span class="label label-custom velo-name pull-right"> 9</span>
                    <div class="label label-power-bike"> ${productionByBike[8]} kW </div>

                </span>

            </div>
          </div>
            

        </div>





        <script src="static/gauge.options.js"></script>
        <script src="static/main.js"></script>
        <!-- <script type="text/javascript">
            const target = document.getElementById('gauge'); // your canvas element
            const gauge = new Gauge(target).setOptions(OPTS); // create sexy gauge!
            gauge.maxValue = 3000; // set max gauge value
            gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
            gauge.animationSpeed = 32; // set animation speed (32 is default value)
            gauge.set(1500); // set actual value

          window.setInterval(() => {
             var val = Math.floor(Math.random() * 3001); 
             gauge.set(val)
         }, 1000);
        </script> -->

    </body>
</html>


